<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>find page</title>
	<meta http-equiv="Content-Type" 
		content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
 	<link rel="stylesheet" th:href="@{/css/print.css}" media="print">
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#f0f0f0; }
	</style>
</head>
<body>
	<h1 th:text="${title}">find page</h1>
	<p th:text="${msg}"></p>
	<table>
	<tr><th>ID</th>
	    <th>ジャンル番号</th>
		<th>ジャンル名</th>
		<th>キーワード</th>
		<th>書籍名</th>
		<th>著者</th>
		<th>出版社</th>
		<th>価格</th>
   </tr>
	<tr th:each="obj : ${bookdata}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.typeId}"></td>
		<td th:text="${obj.typeName}"></td>
		<td th:text="${obj.keyword}"></td>
		<td th:text="${obj.bookName}"></td>
		<td th:text="${obj.author}"></td>
		<td th:text="${obj.publisher}"></td>
		<td th:text="${obj.price}"></td>
	</tr>
	</table>
</body>
</html>
