<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>社内図書館　e-Library</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ここにサイト説明を入れます">
		<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
			<link rel="stylesheet" th:href="@{/css/style.css}">
			<link rel="stylesheet" th:href="@{/css/print.css}" media="print">
			<style>
				h1 { font-size:18pt; font-weight:bold; color:white; }
				body { font-size:13pt; color:gray; margin:5px 25px; }
				table {font-size:15px;  border:2px solid #000000;}
				tr { margin:5px; }
				th { padding:20px; color:white; background:#4682b4; border:solid; border-color:#000000;}
				td { padding:20px; color:black; background:#f0f0f0; border:solid; border-color:#000000;}
			</style>
				<script src="js/openclose.js"></script>
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<style>
				.menu1 a {background-position: -10px -10px;}
				.menu2 a {background-position: -10px -130px;}
				.menu3 a {background-position: -10px -250px;}
				.menu4 a {background-position: -10px -370px;}
			</style>
			<![endif]-->
	</head>

		<body class="link">
			<div id="container">
				<!--PC用（801px以上端末）で表示させるブロック-->
				<header class="pc">
					<h1 class="logo"><a href="/top"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>
					<!--PC用（801px以上端末）メニュー-->
					<nav id="menubar">
						<ul>
							<li class="menuimg menu3"><a th:href="@{/top}"><span>マイページ</span></a></li>
							<li class="menuimg menu4 current"><a th:href="detail.html"><span>蔵書一覧</span></a></li>
						</ul>
					</nav>

				</header>
				<!--/.pc-->
				<!--小さな端末用（800px以下端末）で表示させるブロック-->
				<header class="sh">
					<h1 class="logo"><a href="/top"><img src="images/icon-logo.png" alt="SAMPLE SITE"></a></h1>
					<!--小さな端末用（800px以下端末）メニュー-->
					<div id="menubar-s">
						<nav>
							<ul>
								<li class="menuimg menu3"><a th:href="@{/top}"><span>マイページ</span></a></li>
								<li class="menuimg menu4 current"><a th:href="@{/detail}"><span>蔵書一覧</span></a></li>
							</ul>
						</nav>
	
					</div>
				<!--/#menubar-s-->
				</header>
				<!--/.sh-->
					<div id="contents">
					<div id="main">
						<section id="pagetop">
							<h2 class="title">Books<span>蔵書一覧</span></h2>
							<br>
							<br>
							<h1 th:text="${title}">find page</h1>
							<p style="color:white" th:text="${msg}"></p>
								<table>
									<tr >
	   									<!--<th>ID</th>-->
									    <!--<th>ジャンル番号</th> -->
										<!--<th>ジャンル名</th> -->
										<!--<th>キーワード</th> -->
										<th>書籍名</th>
										<th>著者</th>
										<th>出版社</th>
										<th>価格</th>
									</tr>
									<tr th:each="obj : ${bookdata}"> 
										<!--<td th:text="${obj.id}"></td>-->
										<!--<td th:text="${obj.typeId}"></td>-->
										<!--<td th:text="${obj.typeName}"></td>-->
										<!--<td th:text="${obj.keyword}"></td>-->
										<td th:text="${obj.bookName}"></td>
										<td th:text="${obj.author}"></td>
										<td th:text="${obj.publisher}"></td>
										<td th:text="${obj.price}"></td>
									</tr>
								</table>

							<button type="button" value="button" color：#4b3016 width:50px><a href="/top">マイページに戻る</a></button>
							<button type="button" value="button" color：#4b3016 width:50px><a href="office.html">Microsoft Office</a></button>
							<button type="button" value="button"　color：#4b3016 width:100px><a href="java.html">Java技能</a></button>
							<button type="button" value="button"　color：#4b3016 width:50px><a href="marketing.html">Sales&Marketing</a></button>
							<button type="button" value="button"　color：#4b3016 width:50px><a href="inspire.html">自己啓発</a></button>
						</section>

                	    <footer>
							<small>Copyright&copy; <a href="/top">社内図書館　e-Library</a> All Rights Reserved.</small>
							<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
						</footer>

					</div>
						<!--/#main-->
					</div>
						<!--/#contents-->
					</div>
						<!--/#container-->
					<!--ページの上部に戻る「↑」ボタン-->
						<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>
					<!--メニュー開閉ボタン-->
					<div id="menubar_hdr" class="close"></div>
					<!--メニューの開閉処理条件設定　800px以下-->
			<script>
					if (OCwindowWidth() <= 800) {
							open_close("menubar_hdr", "menubar-s");
						}
			</script>

	</body>
</html>